<strong>Olá {{ name }},</strong>
<p> Obrigado por sua matrícula na Gym Point! Abaixo, os dados do plano que você escolheu: </p>
<p>
  <strong> Plano: </strong> {{ plan }} <br />
  <strong> Duração em meses: </strong> {{ duration }} <br />
  <strong> Valor Mensal: </strong> R$ {{ price }} <br />
  <br>
  <strong> O valor total do plano é: </strong> R$ {{ price }} <br />

  <br />
  <p>
    Bons treinos!
  </p>

</p>